body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Cor principal branca */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

.imagem-container {
    display: flex;
    justify-content: space-between; /* Distribui as imagens igualmente no espaço disponível */
}

.imagem-container img {
    width: 33%; /* Defina a largura desejada para as imagens */
    height: auto;
    border-radius: 30px;
    margin: 50;
}

h1{
    background-color: #34495e; /* Cor secundária azul escuro */
    padding: 20px; /* Reduzi o padding */
    font-style: italic;
    color: #08c3f1;
    font-size: 50px;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 25spx;
    font-weight: bolder;
    margin: 1px 1px;
    margin-top: -25px;
    width: 100%;
}

.container {
    max-width: 1500px; /* Aumentei a largura máxima da container para 1500px */
    margin: 100 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto;
    margin-top: -25px;
}

header {
    text-align: center;
    margin: 60px 30px;
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    justify-content:center;
    align-items: center;
}

nav {
    background-color: #34495e; /* Cor secundária azul escuro */
    padding: 20px; /* Reduzi o padding */
    text-align: center;
    display: flex;
    justify-content: center; /* Centraliza os links horizontalmente */
    align-items: center; /* Centraliza os links verticalmente */
    margin-top: 21px;
}

nav ul {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 23x;
}

nav li {
    cursor: pointer;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
    align-items: center; 
    height: 10vh; /* Isso é opcional, mas pode ajudar a centralizar verticalmente também */
    display: flex;
}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: #08c3f1;
    font-weight: bold;
    text-align: center;
}

nav img{
    max-width: 210%;
    height: auto;
    align-self: flex-end; /* Alinha a imagem na parte inferior do contêiner */
    object-fit: contain; 
    object-fit: cover;
    max-height: 100%;
    justify-content:center;
    align-items: center;
    margin: -90px -30px;
    margin-top: -90px;
    width: 1000%;
    border-radius: 5px; 
}

a {
    color: #007bff; /* Cor padrão para links */
}

footer {
    background-color: #34495e;
    color: #08c3f1;
    padding: 10px;
    text-align: center;
    margin: 10px 1px;
    margin-top: 30px;
    width: 100%; 
}

.contato-bar {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: #08c3f1; 
    background-color: #34495e; /* Cor secundária azul escuro */
    padding: 20px; /* Reduzi o padding */
    font-size: 50px;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    margin-top: 1px;
}

.destaque {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.destaque h2 {
    font-size: 24px;
    text-align: center; /* Centraliza o texto */
    margin-bottom: 40px; /* Adiciona espaço abaixo do h2 para organização */
    font-weight: bolder;
}

.produto {

    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    flex: 0 0 calc(340px);
    margin: 17px;
    padding: 10px;
    border: 6px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    align-self: flex-end; /* Alinha a imagem na parte inferior do contêiner */
    object-fit: contain; 
    object-fit: cover;
}

.button-container {
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    cursor: pointer;
}

button {
    background-color: #2ecc71; /* Verde */
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    margin-top: 30px;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center;
     flex-wrap: nowrap;
}

.button-container button {
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
}

button:hover {
    background-color: #27ae60; /* Verde mais escuro */
}

/* Mobile Styles */
/* Mobile Styles */
/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        align-items: center; /* Center content vertically */
    }

    h1 {
        font-size: 30px;
        margin-top: -15px;
    }

    nav ul {
        flex-direction: column; /* Stack the <ul> elements vertically */
        align-items: center; /* Center <li> elements horizontally */
    }

    nav li {
        margin-right: 0; /* Remove right margin for stacking */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    nav img {
        margin: -60px 0;
        width: 100%;
    }

    .contato-bar {
        font-size: 16px;
    }

    h2 {
        font-size: 30px;
    }

    .produto {
        font-size: 14px;
    }

    button {
        padding: 12px 20px; /* Adjusted padding for smaller screens */
    }
}
